/* =============================================================================
   PXU Photoset Extended Styles
   ========================================================================== */

.clearit:before, .clearit:after { content: ""; display: table; }
.clearit:after { clear: both; }
.clearit { *zoom: 1; }

/* Photoset */

.photo-slideshow {
  visibility: hidden;
}

.photo-slideshow.processed {
  visibility: visible;
}

.photo-slideshow .row {
  clear: both;
  width: 100%;
}

.photo-slideshow .pxu-photo {
  display: block;
  float: left;
  margin-bottom: 0;
  width: 100%;
  overflow: hidden;
}

.photo-slideshow .pxu-photo img {
  display: block;
}

.photo-slideshow.processed .pxu-photo img {
  width: 100%;
  height: auto;
}

.photo-slideshow .pxu-photo:first-child img {
  margin-left: 0;
}

.photo-slideshow .count-1 {
  width: 100%;
}

.photo-slideshow .count-2 {
  width: 50%;
}

.photo-slideshow .count-3 {
  width: 33.33%;
}

.photo-slideshow .count-4 {
  width: 25%;
}

.photo-slideshow .count-5 {
  width: 20%;
}

.photo-slideshow .info {
  display: none;
}

/* Icons for EXIF Data and Zoom */

.photo-data {
  position: relative;
  float: left;
}

.icons {
  position: absolute;
  top: 5px;
  right: 5px;
  width: 20px;
  height: 66px;
  text-indent: -9999px;
  z-index: 999;
  visibility: hidden;
}

.icons > span, .icons .tumblr-box span {
  width: 20px;
  height: 20px;
  display: block;
  margin-bottom: 2px;
  cursor: pointer;
}

.zoom {
  background: url('http://static.tumblr.com/hugxd2w/kgem0so9j/zoom-icon.png');
}

.info {
  background: url('http://static.tumblr.com/hugxd2w/ffwm0so9t/info-icon.png');
  position: relative;
}

/* EXIF & CAPTION Data Tooltip */

.pxu-data {
  position: absolute;
  top: 30px;
  left: -110px;
  width: 240px;
  background: #000;
  background: rgba(0,0,0,.85);
  color: #fff;
  font-size: 12px;
  line-height: 1.4;
  text-indent: 0;
  padding: 20px;
  display: none;
  opacity: 0;
  filter: alpha(opacity = 0);
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";

  box-shadow: 2px 2px 7px rgba(0,0,0,0.55);

  -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
          border-radius: 5px;

  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;

}

.pxu-caption {
  margin-top: 0;
  word-wrap: break-word;
}

.pxu-caption:before {
  content: url('http://static.tumblr.com/hugxd2w/SSBm6wxmm/caption-icon.png');
  opacity: 0.5;
  filter: alpha(opacity = 50);
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
  float: left;
  margin-right: 5px;
}

.pxu-data.caption-only .pxu-caption {
  margin-bottom: 0;
}

.pxu-data table {
  font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: bold;
  width: 100%;
}

.pxu-data table tr {
  width: 100%;
}

.pxu-data table tr td {
  width: 50%;
  font-weight: bold;
  padding-bottom: 15px;
}

.pxu-data table tr:last-child td {
  padding-bottom: 0;
}

.pxu-data .label {
  color: #cccccc;
  text-transform: uppercase;
  font-size: 10px;
  text-align: right;
  padding-right: 12px;
  font-weight: normal;
}

.arrow-down {
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;

  border-bottom: 10px solid rgba(0,0,0,0.85);

  position: absolute;
  top: -10px;
  left: 110px;
}